div.play{
    display: inline-flex;
}
div.run {
    width: 200px;
    height: 200px;
    background: #c59595e7;
    border-radius: 50%;
    margin: 30px;
}
div.mask.full {
    animation: fill ease-in-out 8s;
    transform: rotate(150deg);
}
div.mask.full2 {
    animation: fill2 ease-in-out 8s;
    transform: rotate(95deg);
}
div.mask.full3 {
    animation: fill3 ease-in-out 8s;
    transform: rotate(120deg);
}
div.mask.full4 {
    animation: fill4 ease-in-out 8s;
    transform: rotate(140deg);
}
div.mask {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}
div.fill {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    background-color: rgb(43, 107, 160);
    animation: fill ease-in-out 8s;
    transform: rotate(150deg);
}
div.fill2 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    background-color: rgb(43, 107, 160);
    animation: fill2 ease-in-out 8s;
    transform: rotate(95deg);
}
div.fill3 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    background-color: rgb(43, 107, 160);
    animation: fill3 ease-in-out 8s;
    transform: rotate(120deg);
}
div.fill4 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    background-color: rgb(43, 107, 160);
    animation: fill4 ease-in-out 8s;
    transform: rotate(140deg);
}
div.inside {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    line-height: 170px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    font-weight: bold;
    font-size: 22pt;
    background-color: aliceblue;
    transition: 0.5s;
}
.inside:hover{
    transform: rotate(30deg);
}
@keyframes fill 
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(150deg);
    }
}
@keyframes fill2 
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(95deg);
    }
}
@keyframes fill3 
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(120deg);
    }
}
@keyframes fill4 
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(140deg);
    }
}